* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .debugg {
  border: 3px solid blue;
  height: 200px;
} */

body {
  font-size: 16px;
  background-color: white;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: rgb(93, 216, 216);
  ;
}

.navbar ul li {
  text-transform: uppercase;
  padding: 5px;
}

.navbar a:hover {
  color: rgb(93, 216, 216);
}

.logo {
  display: flex;
  align-items: center;
}

.logo>* {
  padding: 10px;
}

.logo h1 {
  font-size: 30px;
}

/* hero*/
.hero {
  background: url('design-assets/bgk-header.png') no-repeat center center/cover;
  height: 80vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.hero-content>* {
  padding: 20px;
}

.hero-content h2 {
  text-transform: uppercase;
  font-size: 32px;
}

.hero-content p {
  text-align: center;
  max-width: 600px;
}

/* main */
main {
  min-height: 500px;
}

/*watch-section*/
.watch-section {
  background: url('design-assets/bgk-middle.png') no-repeat center center/cover;
  height: 70vh;
}

.watch-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.watch-section-content>* {
  margin: 10px 0;
}

.watch-section-content h2 {
  text-transform: uppercase;

}

.content {
  border: 3px solid lightblue;
  height: 500px;
}



/* Our Story Start */

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  gap: 80px;
}

.img-our-story {
  display: flex;
  align-items: center;
}

.text-our-story {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  color: #97949c
}

.text-our-story h2 {
  color: #4e4a57;
}

.btn-our-story {
  padding-top: 70px;;
}

/* Our Story End */



/* Expertise Start */

.expertise {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  line-height: 1.4;
  color: #97949c
}

.title-expertise p::after {
  display:block;
  content:" ";
  width: 50px;
  height: 2px;
  background: rgba(153, 153, 153, 0.7);
  margin-top: 10px;
  margin-left: 43%;
}

.title-expertise h2 {
  color: #4e4a57;
}


.upper-container {
  max-width: 960px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 60px;

}

.lower-container {
  max-width: 960px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box-expertise {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.box-expertise p {
  display: block;
  padding: 0 10px 10px 10px;
  line-height: 1.4;
  color: #97949c;
}

.box-expertise h5 {
  text-transform: uppercase;
  color: #4e4a57;
}

.box-1 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.box-2 {
  border: 1px solid rgba(153, 153, 153, 0.3);
  border-top: 0;
}

.box-3 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.box-4 {
  padding-top: 10px;
}

.box-5 {
  border: 1px solid rgba(153, 153, 153, 0.3); 
  border-bottom: 0;
  border-top: 0;
  padding-top: 10px;
}

.box-6 {
  padding-top: 10px;
}

/* Expertise End */



/* Brands Start */

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 110px;
}

.form {
  margin-top: 20px;
}

.form a {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px 25px;
  font-size: 12px;
}

.form h2 {
  padding-left: 10px;
  padding-bottom: 15px;
}

.input {
  width: 450px;
  padding: 12px;
  margin: 10px;
  border: rgba(153, 153, 153, 0.3) 1px solid;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 40px;
  width: 380px;
  margin-bottom: 20px;
}

.logos-r1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.logos-r2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.logos-r3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.logos-r4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.logos-r5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 105px;
}


/* utilities */

.primary-color {
  color: #fff;
}

.secondary-color {
  color: #00e0d0;
}

.btn {
  color: #00e0d0;
  border: 1px solid rgb(93, 216, 216);
  border-radius: 3px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.border {
  border: red 2px solid;
}