* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: white;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
}

.navbar ul {
  display: flex;
  margin-right: 180px;
}

.navbar a {
  color: rgba(255, 255, 255, 0.904);
}

.navbar ul li {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 13px;
}

.navbar ul li a span {
  color: #00e0d0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.logo>* {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
}



/* hero*/
.hero {
  background: url('design-assets/bgk-header.png') no-repeat center center/cover;
  height: 80vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75%;
}

.hero-content>* {
  padding: 20px;
}

.hero-content h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.hero-content h2::after {
  display: block;
  content: " ";
  width: 50px;
  height: 1px;
  background: #00e0d0;
  margin-top: 24px;
  margin-left: 45%;
}

.hero-content p {
  text-align: center;
  max-width: 950px;
  line-height: 1.7;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* main */
main {
  min-height: 500px;
}

/*watch-section*/
.watch-section {
  background: url('design-assets/bgk-middle.png') no-repeat center center/cover;
  height: 70vh;
}

.watch-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.watch-section-content>* {
  margin: 10px 0;
}

.watch-section-content h2 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.content {
  border: 3px solid lightblue;
  height: 500px;
}



/* Our Story Start */

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  gap: 90px;
}

.img-our-story {
  display: flex;
  align-items: center;
  margin-left: 30px;
  
}

.text-our-story {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  color: rgba(65,61,75,255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
}

.text-our-story h2 {
  color: rgba(65,61,75,255);
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.btn-our-story {
  padding-top: 30px;
  ;
}

/* Our Story End */



/* Expertise Start */

.expertise {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-expertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  line-height: 1.4;
  font-family: 'Playfair Display', serif;;
  color: rgba(65,61,75,255);
  font-size: 22px;
}

.title-expertise p {
  font-family: 'Playfair Display', serif;;
  color: rgba(47,45,53,255);
  font-size: 14px;
}

.title-expertise p::after {
  display: block;
  content: " ";
  width: 50px;
  height: 2px;
  background: rgba(153, 153, 153, 0.7);
  margin-top: 10px;
  margin-left: 43%;
}

.title-expertise h2 {
  color: #4e4a57;
}


.upper-container {
  max-width: 960px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 60px;

}

.lower-container {
  max-width: 960px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.box-expertise {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.box-expertise p {
  display: block;
  padding: 0 10px 10px 10px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(51,51,51,0.7);
  font-weight: 400;
}

.box-expertise h5 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgba(65,61,75,255);
}

.box-1 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.box-2 {
  border: 1px solid rgba(153, 153, 153, 0.3);
  border-top: 0;
}

.box-3 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.box-4 {
  padding-top: 10px;
}

.box-5 {
  border: 1px solid rgba(153, 153, 153, 0.3);
  border-bottom: 0;
  border-top: 0;
  padding-top: 10px;
}

.box-6 {
  padding-top: 10px;
}

/* Expertise End */



/* Brands Start */

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 110px;
}

.form {
  margin-top: 20px;
}

.form a {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px 25px;
  font-size: 12px;
}

.form h2 {
  padding-left: 10px;
  padding-bottom: 15px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 22px;
  color: rgba(65,61,75,255);
}

.input {
  width: 450px;
  padding: 12px;
  margin: 10px;
  border: rgba(153, 153, 153, 0.3) 1px solid;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(65,61,75,255);
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 40px;
  width: 380px;
  margin-bottom: 10px;
}

.logos h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 22px;
  color: rgba(65,61,75,255);
}

.logos-r1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.logos-r2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.logos-r3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.logos-r4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.logos-r5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 105px;
}



/* Teams-Section Start */

.teams-section {
  background: url('design-assets/bgk-header.png') no-repeat center center/cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams-section-title {
  margin-top: 30px;
  line-height: 1.4;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: rgba(249,249,249,255);
}

.teams-section-title h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
}

.teams-section-title p::after {
  display: block;
  content: " ";
  width: 50px;
  height: 2px;
  background: rgba(153, 153, 153, 0.7);
  margin-top: 10px;
  margin-left: 43%;
}

.teams-row {
  display: flex;
  margin-top: 50px;
  height: 400px;
  max-width: 1300px;
  justify-content: space-between;
  gap: 40px;
}

.teams-member-card {
  width: 300px;
  border: 1px solid rgba(153, 153, 153);
  display: flex;
  flex-direction: column;
}

.teams-image {
  background-color: #fff;
  width: 100%;
  height: 70%;
}

.teams-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}

.teams-name h2 {
  text-transform: uppercase;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.teams-name h3 {
  text-transform: uppercase;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgba(250,250,250,255);
}

.teams-name h2 {
  color: #fff;
  font-size: 20px;
}

.teams-name h3 {
  font-size: 18px;
  font-weight: 200;
  color: rgba(250,250,250,255);
}

.teams-section-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.teams-section-button h2 {
  font-size: 22px;
  font-weight: 200;
  color: rgba(243,243,243,255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.teams-section-button .btn {
  margin-top: 30px;

}

/* Teams-Section End */

/* Footer Start */

footer {
  background: url('design-assets/bgk-footer.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

footer p {
  font-family: sans-serif;
  max-width: 320px;
  font-weight: 200;
  color: rgb(153, 153, 153);
  margin-top: 10px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 290px;
}

.footer-title {
  padding: 0 5px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 15px;
}

.card-1 {
  justify-content: space-between;
}

footer .column-bottom {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

footer .column-bottom>* {
  font-family: sans-serif;
  text-transform: uppercase;
}

.footer-row {
  display: flex;
  justify-content: flex-start;
}

.footer-row-left img {
  margin: 10px;
}

.footer-row-right p {
  margin-left: 10px;
}

.card-3 {
  justify-content: space-between;
}

.card-3 input {
  width: 70%;
  padding: 12px;
  background-color: transparent;
  border: rgb(153, 153, 153) 1px solid;
}

.card-3 label {
  width: 30px;
  padding: 12px 20px;
  background-color: rgb(153, 153, 153);
}

.card-3 .column-bottom {}

/* testing purpose */
footer>* {
  border: red 2px solid;
}

.footer-column>* {
  border: 2px solid black;
}

/* Footer End */

/* utilities */

.primary-color {
  color: #fff;
}

.secondary-color {
  color: #00e0d0;
}

.btn {
  color: #00e0d0;
  border: 1px solid rgb(93, 216, 216);
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
}

.border {
  border: red 2px solid;
}
