* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .debugg {
  border: 3px solid blue;
  height: 200px;
} */

body {
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: rgb(255, 255, 255);
  ;
}

.navbar ul li {
  text-transform: uppercase;
  padding: 5px;
}

.navbar a:hover {
  color: rgb(93, 216, 216);
}

.logo {
  display: flex;
  align-items: center;
}

.logo>* {
  padding: 10px;
}

.logo h1 {
  font-size: 30px;
}

/* hero*/
.hero {
  background: url('design-assets/bgk-header.png') no-repeat center center/cover;
  height: 80vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.hero-content>* {
  padding: 20px;
}

.hero-content h2 {
  text-transform: uppercase;
  font-size: 32px;
}

.hero-content p {
  text-align: center;
  max-width: 600px;
}

/* main */
main {
  min-height: 500px;
}

/*watch-section*/
.watch-section {
  background: url('design-assets/bgk-middle.png') no-repeat center center/cover;
  height: 70vh;
}

.watch-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.watch-section-content>* {
  margin: 10px 0;
}

.watch-section-content h2 {
  text-transform: uppercase;

}

.content {
  border: 3px solid lightblue;
  height: 20%;
}



/* utilities */

.primary-color {
  color: #fff;
}

.secondary-color {
  color: #00e0d0;
}

.btn {
  color: #00e0d0;
  border: 1px solid rgb(93, 216, 216);
  border-radius: 3px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}